a {
    color: #ffffff;
}

a:hover {
    color: #bfbfbf;
}

body {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont,
        'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

table td {
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 0.25em;
    margin-top: 0;
}

pre {
    margin: 0;
}

/**********
 * Header *
 **********/

header {
    color: #ffffff;
    flex: 0 0 auto;
    font-weight: bold;
    text-align: center;
}

header a {
    text-decoration: none;
}

header img {
    height: auto;
    margin: 0.1em;
    max-width: 100%;
}

/***********
 * Content *
 ***********/

#content {
    flex: 1 0 auto;
    margin: 0 1em;
    padding: 0.5em;
}

@media (min-width: 768px) {
    #content {
        margin: 0 3em;
    }
}

@media (min-width: 1200px) {
    #content {
        margin: 0 auto;
        width: 1000px;
    }
}

/**********
 * Footer *
 **********/

footer {
    background-color: #3f3f3f;
    box-shadow: 0 -0.25em 0.25em 0.25em #7f7f7f;
    flex: 0 0 auto;
    font-size: 0.5em;
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

@media (min-width: 768px) {
    footer {
        font-size: 0.75em;
    }
}

/***************
 * Error Pages *
 ***************/

#error-page-details {
    font-style: italic;
    margin: 1em 0;
    padding: 0 1em;
}

#error-page-raspberries {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 2em;
}

@media (min-width: 768px) {
    #error-page-details {
        padding: 0 2em;
    }

    #error-page-raspberries {
        flex-direction: row;
    }
}

.error-page-raspberry {
    flex: 0 0 auto;
    margin-bottom: 1em;
    text-align: center;
}

/*****************
 * System Status *
 *****************/

#system-status-table {
    margin-bottom: 1em;
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
}

#system-status-table td, #system-status-table th {
    width: 200%;
}

#system-status-table td:first-child {
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    padding-top: 0.5em;
    text-align: left;
}

#system-status-table td:last-child {
    box-sizing: border-box;
    display: block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
}

#system-status-table th {
    border-bottom: 1px dashed #ffffff;
    font-size: 1.1em;
    padding-top: 1em;
}

@media (min-width: 768px) {
    #system-status-table {
        table-layout: auto;
        word-wrap: normal;
    }

    #system-status-table th, #system-status-table td {
        padding: 0.5em 0.5em 0;
        width: auto;
    }

    #system-status-table td:first-child {
        box-sizing: content-box;
        display: table-cell;
        text-align: right;
        white-space: nowrap;
    }

    #system-status-table td:last-child {
        box-sizing: content-box;
        display: table-cell;
    }
}

/******************
 * Text Alignment *
 ******************/

.halign-left {
    text-align: left;
}

.halign-right {
    text-align: right;
}

.valign-bottom {
    vertical-align: bottom;
}

.valign-top {
    vertical-align: top;
}

/***************
 * Text Colors *
 ***************/

.raspberry-green {
    color: #00ff00;
}

.raspberry-red {
    color: #ff0000;
}

.white {
    color: #ffffff;
}
