{% extends 'template_parts/base.html' %}
{% block content %}
    <h1>{% block title %}{% endblock %}</h1>
    <h2>{{ _('We are so sorry about this inconvenience!') }}</h2>

    <p>{{ _('A little bit more technical:') }}</p>
    <div id="error-page-details">{% block message %}{% endblock %}</div>
    <p>
        {{ _('A %(start)s might help.',
             start = '<a href="'|safe + url_for('system_status.OverviewView:index') + '">'|safe + _('fresh start') + '</a>'|safe) }}
        {{ _('Would a few raspberries make up for your sorrows?') }}
    </p>
    <div id="error-page-raspberries">
    {% for i in range(0, random_int(1, 5)) %}
        <div class="error-page-raspberry">
            <img src="{{ url_for('static', filename = 'images/raspberry.png') }}" width="101" height="97" alt="{{ _('Raspberry') }}" title="{{ _('Raspberry') }}" />
        </div>
    {% endfor %}
    </div>
{% endblock %}
