{% extends 'template_parts/base.html' %}
{% block content %}
    <table id="system-status-table">
    {% for group_label, group_statuses in status.items() %}
        <tr>
            <th colspan="2" class="halign-left">{{ group_label }}</th>
        </tr>
        {% for status_label, status_value in group_statuses.items() %}
        <tr>
            <td class="valign-top">{{ status_label }}</td>
            <td class="valign-top">{{ status_value }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>
{% endblock %}
